@inherits LayoutComponentBase
@using AuthSample.Shared

<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="top-row px-4">
        <a class="ml-md-auto btn btn-primary"
            href="/logout?returnUrl=/"
            target="_top">Logout</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
